<div class="row" id="main-content">
	<div class="row" >
	<div id="switch" class="col-md-1 col-md-offset-0"></div>
	</div>
  <div class="col-md-2" id="region-bios"></div>
  
 <div class="col-md-10" id="map-region"><div class="col-md-6" id="region-graph"></div></div>
</div>

<div class="row">
</div>

<div class="row">
	<div class="col-md-12">
	</div>
</div>


