

<div class="row" id="main-content">

<div class="row" >
  <div class="col-md-2 col-sm-4 col-xs-4" id="region-bios">
  </div>  
 <div class="col-md-12 col-sm-8 col-xs-8" id="map-region">
 	<div class="col-md-6" id="region-graph">
 	</div>
 </div>
</div>

<div class="row">
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <br>
            <br>
              <div class="col-md-4">
                <left>
                  <a href="" class="img-circle" alt="the-brains"></a>
                  <br>
                  <p class="footertext">A project by NULab for Texts, Maps, And Networks</p>
                  <p> Northeastern University</p>
                  <p> Dietmar Offenhuber– Chris Riedl– Nick Beauchamp</p>
                  <p> Visualization: Armin Akhavan– Rohith Vallu</p> 

                </left>
              </div>
        </div>
    </div>
</div>

