<div class="row" id="main-content">
  <div class="col-md-6" id="region-bios">
  THIS IS THE EMPTY NETWORK VIEW
  </div>
  <div class="col-md-6" id="region-graph">
  </div>
</div>

<div class="row">
</div>

<div class="row">
	<div class="col-md-12">
	</div>
</div>